# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
ENV/
env/
.env

# Logs e dados
*.log
data/*.json
update_data.log

# IDEs e editores
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Arquivos de cache
.pytest_cache/
.coverage
htmlcov/
.tox/
.nox/
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/ 